/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";

*{
  color: #4D4D4D;
  font-family: "Hannotate SC","TsukuARdGothic-Regular", "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}


a, a:visited, a:focus, a:hover {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: bold;
    font-size :16px;
}

.hed{
  font-size: 12px;
  background-color: #DBB6C6;
}

.nav-item{
  display: inline-block;
  position: relative;
  cursor: pointer;

}
.nav-item::after{
  content:'';
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:2px;
  bottom:0;
  left:0;
  background-color:#E6C8E8;
  transform-origin:bottom right;
  transition:transform .4s cubic-bezier(.86,0,.07,1)
}
.nav-item:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left
}

//検索窓
.nav-item-search{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  border-radius: 20px;
  height: 2.5em;
  width: 20em;
  overflow: hidden;
  font-size: 14px;

}
.search_input{
  border: none;
  height: 2.0em;
}
.search_input:focus {
  outline: 0;
}
.search_submit{
  cursor: pointer;
  border: none;
  background: #C7B2D6;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -3px;
  outline : none;
}


// プロフィール画像を丸く加工
.profile_image {
  img{
  border-radius: 50% !important; /* 角丸半径を50%にする(=円形にする) */
  //centerwidth: 100px ;  /* 縦横を同じ値にする */
  //height: 100px ; /* 縦横を同じ値にする */
  object-fit: cover !important; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
 }
}

.nav-link {
  color: white;
  background-color: #C7B2D6;
  width: 200px;
}


/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  margin: 10px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #C7B2D6;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

footer{
  background:#C7B2D6;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


.footerFixed{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

//card要素
.card {
    transition:background-color 0.3s;
    height: 390px;
}

.card:hover {
    background-color:#D6C7B2;

}

.card-img-top {
  //max-width: 100%;
  flex-shrink:0;
  //height: 200px;
 }

.card-title{
  font-size : 18px;
  font-weight: bold;
}


.card-text{
  font-size : 15px;
  font-weight: lighter;
}

//見出し文字
h4 {
  position: relative;
  text-shadow: 0 0 2px white;
  display: inline;
}
h4:before {
  content: "";
  position: absolute;
  background: #C7B2D6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 45%;
  /* border: dashed 1px white; */
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

//ボタンレイアウト
.btn-info{
  background-color: #C7B2D6 !important;
  border-color: #C7B2D6 !important;
  border-radius: 15px;
  color:#4D4D4D;
}


.btn-info:focus, .btn-info:hover, .btn-info:active{
  background-color: #C7B2D6 !important;
  border-color: #C7B2D6 !important;
  border-radius: 15px;
  color:#fff;
}


.btn-danger{
  background-color: #DBB6C6 !important;
  border-radius: 15px;
  border-color: #DBB6C6 !important;
  color:#4D4D4D;
}

.btn-danger:focus, .btn-danger:hover, .btn-danger:active{
  background-color: #DBB6C6 !important;
  border-radius: 15px;
  border-color: #DBB6C6 !important;
  color:#fff;
}

.btn {
  border-radius: 15px;
}

.btn-sm {
  border-radius: 15px;
}

//エラーメッセージレイアウト
.field_with_errors {
  display: contents;
}

#error_explanation {
   color:#262626;
   background:#FFEBE8;
   border:2px solid #990000 ;
   padding:12px; font-weight:850;
   margin-bottom: 20px;
}

#error_explanation h2 {
   text-align: center;
   font-size: 18px;
   border-bottom: 1px solid;
}

#error_explanation li {
   font-size: 14px;
   list-style: none;
   margin: auto;
}

.alert.alert-warning {
   color:#262626;
   background:#FFEBE8;
   border:2px solid #990000 ;
   padding:12px; font-weight:850;
   margin-bottom: 20px;
}

.alert.alert-warning li {
   font-size: 14px;
   list-style: none;
   margin: auto;
}

.required:before {
    content: " *";
    color: red;
}