/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';

*{
  color: #4D4D4D;
  font-family: "Hannotate SC","TsukuARdGothic-Regular", "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}


a, a:visited, a:focus, a:hover {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: bold;
    font-size :16px;
}

.nav-item-link{
  display: inline-block;
  position: relative;
  cursor: pointer;

}
.nav-item-link::after{
  content:'';
  position:absolute
  ;width:100%;
  transform:scaleX(0);
  height:2px;
  bottom:0;
  left:0;
  background-color:#E6C8E8;
  transform-origin:bottom right;
  transition:transform .4s cubic-bezier(.86,0,.07,1)
}
.nav-item-link:hover::after{
  transform:scaleX(1);
  transform-origin:bottom left
}

//プレビュー画像の大きさ
.preview-size{
  width: 300px;
  height: 300px;
}

