// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-form-label{
  font-weight: bold;
}

.user_nickname{
  font-size: 18px;
}

.img{
  object-fit: cover;
}

//新規登録の性別選択ボタン
.radiobutton {
  display: none;
}
.radiobutton_label {
  background-color: #f8f9fa;
  outline: 1px solid #d0d0d0; 
  padding: 5px 40px;
  border-radius: 5px;
}
.radiobutton:checked + .radiobutton_label {
  background-color: #DBB6C6; 
}